<h4><%= link_to "view all lists", lists_path %></h4>
<h4> <%= link_to "add new task",  new_list_task_url(@list) %> </h4>  

<ul> 

<h3> <%= @list.name %>   </h3>
<div class="list-item"> 
    
    
      <% @list.tasks.each do |l| %>
      <% if l.task.nil? %>
      <h4>Nothing to complete</h4>
      <% else %>
           <h4> 
           <input class="toggle-all" type="checkbox"> <%= link_to l.task, list_task_path(@list, l)%> 
            </h4> 
    <% end %> 
        <%end%>

    </div>
</ul>

<%= button_to "Delete list", list_path(@list), :method => :delete %>

</div>
</ul>
 




