<h4><%= link_to "view all lists", lists_path %></h4>
<h4><%= link_to "edit", edit_list_path %></h4>
 <h4> <%= link_to "add new task",  new_list_task_url(@list, @task) %> </h4>  
<ul> 
<h3> <%= @list.name %>   </h3>

<% if !@tasks.nil? %>
<div class="list-item"> 
   <% @tasks.each do |t| %> 
<h3> <%= t.task %> </h3> <br>
<li>
 <%# <ul> 
 <% render @list_id.tasks %>
 <%# <% if !@list_id.tasks.nil? %>
 <%# <h4 class="list-item"> <%= @list_id %>
 
 <%# </ul> %> 
 <%# <%=link_to 'list_tasks'%> 


<%# <%= link_to @tasks.task, list_tasks_url(@tasks)%> 
  <%# <% @tasks.each do |task| %>
       <%# <h3 class= "tasks-item"><%= link_to task.task, list_tasks_url(task)%>
  <%# <%= button_to "Delete", list_task_path, :method => "delete", :class => "destroy" %> 
         <%# </h3>
        <%end %> 
        <%# (task.list, task) %>
  <%# <%= form_for([@list, Task.new]) do |f| %>
      <%# <%= f.text_field :task, placeholder: "Create a task" %>
      <%# <%= f.submit %>
    <%# <% end %> 


