
<div class="tasks-container">
<h2> <% @list.name %></h2>

<div class= " tasks-item" id=form >

<%= form_for([@list, @task]) do |f| %>
<%= f.label :task %>
<%= f.text_field :task %><br>
<%= f.label :details %>
<%= f.text_field :details %><br>
<%= f.submit %>
<% end %>
</div>
 <%# <%= params.inspect %> 

</div>