
 <h4> <%= link_to 'View all lists', lists_path %> </h4>

<%# <%= render 'form' %> 



   <%# %= list_form.hidden_field :list_id %>



<div class="tasks-container">
<div class= " tasks-item" id=form >


<%= form_for([@list, @task]) do |t| %>
<%= t.hidden_field :id, value: @task.id %>
<%= t.hidden_field :user_id %>
  <%= t.label 'task' %><br>
  <%= t.text_field :task %><br>

  <%= t.label 'details' %><br>
  <%= t.text_area :details%><br>

  <%= t.submit "update" %>
<% end %>
  <%# <%= params.inspect %>

</div>

 