
<h4><%= link_to "view all lists", lists_path %></h4>
<h4><%= link_to "edit", edit_task_path %></h4> 
 <h3  class="tasks-header"> <%= @task.task %></h3>
 <div class="tasks-item"> 
 <div>
<h4>Details:</h4>
<p><%= @task.details %></p> 

</div>

</div>
 <h5>belongs to: 
     <%=@user.email %> </h5>
<%= button_to "Delete", tasks_path(@task), :method => :delete %>

